download/** -linguist-detectable
download/** linguist-generated
retroarch/*.js linguist-vendored
retroarch/*.wasm linguist-vendored
flash/ruffle.js linguist-vendored
flash/*.swf -linguist-detectable
flash/ruffle.js.map linguist-vendored
fuFLCI6LcU3kvGrs linguist-language=HTML
g/** linguist-generated
g/btd4-haxe/** -linguist-detectable
sm64ex/sm64.us.f3dex2e.js linguist-generated
sm64ex/sm64.us.f3dex2e.wasm linguist-generated
g/fnfvshaggyk/** -linguist-detectable
g/fnfvshaggyk/** linguist-vendored
g/fnfvshaggyk/** linguist-generated