/*Hide scrollbar IE, Firefox, Edge*/
html {
    /* IE and Edge */
    -ms-overflow-style: none;
    
    /* Firefox */
    scrollbar-width: none;

    max-width: 100vw;
}

/*Hide scrollbar Chrome, Safari, Opera*/
html::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0 0 0 0;
    background-color: #181A1B;
    color: white;
    max-width: 100vw;
}

@keyframes colorFilter {
    0% {
        filter: hue-rotate(-720deg) contrast(1.1);
    }
    50% {
        filter: hue-rotate(720deg) contrast(0.9);
    }
    100% {
        filter: hue-rotate(-720deg) contrast(1.1);
    }
}

header{
    height: 5%;
    box-sizing: border-box;
    overflow:hidden;
    background-image: url("./img/checkerboard.png");
    background-size: 4.61vh;
    min-height: 150px;
    background-repeat: repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    animation-name: colorFilter;
    animation-duration: 75s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
    filter: brightness(-90%);
    animation-fill-mode:forwards;
}


header img#headerimg {
    max-height: 5%;
    min-height: 150px;
    background-repeat: repeat;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    overflow:hidden;
}

@keyframes scrollertext {
    0% {
        left: 100vw;
    }
    100% {
        left: -2000px;
    }
}

@-webkit-keyframes scrollertext {
    from {
        left: 100vw;
    }
    to {
        left: -2000px;
    }
}


@font-face {
    font-family: "MinecraftBold";
    src: url(MinecraftBold-nMK1.otf);
}

div.headertextcontainer{
    width:fit-content;
    display:inline;
    overflow: hidden;
}

.headertext{
    overflow:hidden;
    position: relative;
    display:inline-block;
    font-size:36pt;
    top: 44px;
    color:blue;
    min-height: 1px;
    height: fit-content;
    width: fit-content;
    backdrop-filter: hue-rotate(180deg) brightness(0.9);
    -webkit-backdrop-filter: hue-rotate(180deg) brightness(0.9);
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    animation-name: scrollertext;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0ms;
    font-family: MinecraftBold, Consolas, monospace;
    font-weight: bolder;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

nav.horizontalNav ul {
    margin: 0;
    display: flex;
    padding: 0;
}

nav.horizontalNav ul li:hover {
    background: linear-gradient(green, yellow)
}

nav.horizontalNav {
    padding-bottom: 2em;
}

nav.horizontalNav ul li {
    list-style-type: none;
    background: linear-gradient(#87e70c, #6cb50f);
    height: 23px;
    border-left: 1px solid black;
    border-bottom: 4px solid black;
    flex: 1 1 16.6%;
    display: table;
}

nav.horizontalNav ul li a {
    text-align: center;
    vertical-align: bottom;
    display: table-cell;
    height: 100%;
    width: 100%;
    color: black;
}

nav a {
    text-decoration: none;
}

article {
    display: block;
}

a {
    color: #87e70c;
}

article.homePage figure img {
    max-width: 30%;

    margin-left: 20px;
    float: left;
    border: 2px solid black;
}

article.homePage div.mainText {
    float: left;
    margin-left: 20px;
    font-family: Consolas;
    max-width: 50%;
}

table.recentlyUpdated {
    float: right;
    border: 2px solid #66686A;
    color: white;
    border-collapse: collapse;
}

table.recentlyUpdated th {
    background: linear-gradient(#0E8BDE, #2B6F9C);
    border-bottom: 2px solid white;
    font-size: 1.5em;
    padding: 15px;
}

table.recentlyUpdated tr {
    width: 100%;
    height: 100%;
}

table.recentlyUpdated tr td {
    border-bottom: 2px solid white;
    width: 15vw;
    height: 8vh;
    text-align: center;
    font-size: 1.25em;
}

table.recentlyUpdated tr.color1 {
    background-color: #222222;
}

table.recentlyUpdated tr.color2 {
    background-color: #333333;
}

table.recentlyUpdated a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align:super;
    text-align:center;
}

table.recentlyUpdated tr td a:hover {
    text-decoration: underline;
}

div.darkContainer {
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas;
    width: 85%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 1em;
    padding-bottom: 2em;
}

div.darkContainer p {
    font-size: 1.1em;
}

div.coolPost {
    width: 100%;
    border: 2px solid #6cb50f;
    background-color: transparent;
    border-radius: 20px;
    transition: border 0.25s, background 0.25s;
}

div.coolPost:hover, div.coolPost:active{ /*so fancy*/
    background: rgba(135, 231, 12, 0.02);
    border: 2px solid #87e70c;
    transition: border 0.25s, background 0.25s;
}

div.darkContainer div.coolPost::after {
    clear: left;
    display: table;
    content: "";
}

div.darkContainer div.coolPost img {
    float: left;
    width: 20%;
    margin: 1em;
    border-radius: 20px;
    border: 2px solid white;
    padding: 0;
}

div.darkContainer div.coolPost * {
    padding-left: 1.2em;
}

div.darkContainer div.coolPost h2 {
    padding-left: 0.5em;
    padding-right: 2em;
    padding-top: 0;
}

div.darkContainer div.coolPost p {
    padding-left: 0.5em;
    padding-right: 2em;
}

div.darkContainer a {
    color: white;
    text-decoration: none;
}

.historicalBlogs h2 {
    margin-left: 1.4em;
}

.historicalBlogs p {
    margin-left: 2em;
}

div.imageWrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0%;
    transition: opacity 0.3s;
    z-index: 99;
}

div.imageWrapper:hover{
    cursor: zoom-out;
}

img#imageWrapperImage {
    height: 90%;
    width: 90%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.imageWrapper nav.imageWrapperNav ul {
    position: fixed;
    top: 0;
    right: 10px;
    list-style-type: none;
}

div.imageWrapper nav.imageWrapperNav ul li a {
    cursor: pointer;
    font-size: 3em;
    padding-top: 0;
    margin-top: 0;
    vertical-align:top;
    line-height: 1em;
    color: white;
    font-family: Consolas;
}

img.clickableImage:hover {
    cursor: zoom-in;
}

div.cute_animals {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-bottom: 2em;
}

div.cute_animals figure {
    width: 25%;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 4.3%;
    margin-right: 3%;
}

div.cute_animals figure img {
    width: 100%;
    display: inline-block;
    border: 2px solid black;
    box-sizing: content-box;
}

div.bottomRightDate {
    text-align: right;
    position: relative;
    bottom: 1.5em;
    height: 1px;
    margin-right: 1em;
    font-size: 0.9em;
    clear: left;
    color: gray;
}

div.lightContainer {
    margin-left: auto;
    margin-right: auto;
    font-family: Consolas;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
    padding: .5em 1em 1em 1em;
}

.link {
    color:#87e70c !important;
    background: rgba(135, 231, 12, 0);
    transition: background 0.25s;
}

.link:hover {
    text-decoration: underline;
    background: rgba(135, 231, 12, 0.1);
    transition: background 0.25s;
}

form {
    margin-left: 2px;
}

input[type="text"], textarea.bigInputTextArea, input[type="email"]  {
        width: 90%;
        height: 2.5em;
        text-indent: 1em;
        text-align:start;
        background-color: transparent;
        border-radius: 12px;
        color: white;
        outline: 1px solid #87e70c;
        border: none;
        margin-bottom: .9em;
        font-size: 12pt;
        transition: outline 0.05s;
        transition-timing-function: ease-in-out;
}
input::placeholder, textarea.bigInputTextArea::placeholder {
    color:lightgray;
    opacity: 1;
}

textarea.bigInputTextArea {
    width: 100%;
    padding: 1em;
    height: 7.75em;
    scrollbar-width: none;
    text-indent: 0;
    resize: none;
}
textarea.bigInputTextArea::-webkit-scrollbar {
    display:none;
}

input[type="text"]:hover, textarea.bigInputTextArea:hover, input[type="email"]:hover {
    outline: 1px solid #6cb50f;
}

input[type="text"]:active, input[type="text"]:focus, textarea.bigInputTextArea:active, textarea.bigInputTextArea:focus, input[type="email"]:active, input[type="email"]:focus{
    background: rgba(135, 231, 12, 0.02);
    outline: 2px solid #87e70c;
}

input[type="submit"].contactSubmitButton{
    outline: 2px solid black;
    border: none;
    border-radius: 10px;
    display: block;
    height: 2em;
    font-family: Consolas;
    font-size: 16pt;
    width: 50%;
    margin-left: 56%;
    cursor: pointer;
    background: linear-gradient(#87e70c, #55a100);
}

input[type="submit"].contactSubmitButton:hover, input[type="submit"].contactSubmitButton:active, input[type="submit"].contactSubmitButton:focus{
    background: linear-gradient(green, yellow);
    outline: 3px solid black;
}

div.leftStuff {
    display: block;
    width: 33%;
}

div.rightStuff {
    display:block;
    width: 62%;
}

div.rightStuff::after{
    display: table;
    content: "";
}

.lightContainer::after {
    display: table;
    content: "";
}

form {
    display: flex;
}

footer {
    margin-top: .5em;
}

footer a {
    display: inline-block;
}

footer a svg {
    transition: filter 0.25s;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 1));
}

footer a svg:hover {
    filter: drop-shadow(-1px -1px 7px rgba(255, 255, 255, 0.4));
}

span.underText {
    display: grid;
    text-align: center;
    color: white;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}


div.darkContainer details.gamingDropdown {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 0.75em;
    border-radius: 20px;
    transition-duration: 1s;
    transition-property: height;
}

summary {
    user-select: none;
    -webkit-user-select: none;
}

summary h2 {
    display: inline;
}

summary:hover {
    cursor: pointer;
}

figure.screenshots {
    margin-left: 0px;
    margin-right: 0em;
    margin-right: 0em;
    margin-bottom: 0px;
    box-sizing: border-box; 
}

figure.screenshots::after {
    display: table;
    content: "";
    clear: left; 
}

figure.screenshots figcaption {
    clear: left;
    width: 100%;
}


figure.screenshots img.clickableImage {
    float: left;
    width: 50%;
    margin-bottom: .5em;
    box-sizing: border-box;
    text-align: right;
    outline: 2px solid black;
}

a.dontUnderline {
    text-decoration: none !important;
}

/* Mobile Styles */
@media only screen and (max-width: 645px) {
    table.recentlyUpdated {
        display: none;
        visibility: hidden;
        width: 0 !important;
        height: 0 !important;
    }
    article.homePage div.mainText {
        max-width: 50%;
    }
    article.homePage figure img {
        max-width: 40%;
        margin: 0;
    }
    article.homePage figure {
        margin-left: 10px;
    }
    div.darkContainer {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    div.darkContainer div.coolPost img {
        float: unset;
        width: 90%;
        border-radius: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }
    div.coolPost p  {
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 5% !important;
    }
    div.coolPost h2 {
        margin-left: 4.2%;
        margin-right: 4.2%;
    }
    .center * {
        margin-left: auto;
        margin-right: auto;
    }
    body {
        max-width: 100vw;
    }
    nav.horizontalNav {
        display: inline-block;
        overflow: hidden;
        overflow: -moz-hidden-unscrollable;
        width: 100%;
    }
    nav.horizontalNav ul li {
        float: left;
        height: 3em;
        -webkit-margin-collapse: collapse;
        border-collapse: collapse;
    }
    nav.horizontalNav ul li a {
        vertical-align: middle;
    }
    
    div.cute_animals {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    div.cute_animals figure {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 90%;
        display: block;
    }

    input[type="text"],  input[type="email"], textarea.bigInputTextArea {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 0;
    }

    div.leftStuff {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    div.rightStuff {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    textarea.bigInputTextArea {
        display: block;
        height: 10em;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;
    }

    input[type="submit"].contactSubmitButton {
        margin-left: auto;
        margin-top: 0.5em;
        width: 80%;
    }

    form {
        display: block;
    }

    figure.screenshots img.clickableImage {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

} /* Mobile Styles */


/* Tablet Styles */
@media only screen and (min-width: 646px) and (max-width: 825px) {
    nav.horizontalNav ul li {
        height: 2em;
    }
    nav.horizontalNav ul li a {
        vertical-align: middle;
    }
    div.cute_animals figure {
        margin-left: 5%;
        width: 40%;
    }

    figure.screenshots img.clickableImage {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}